body {
  background: #e2ccb7;
  font-family: Arial, sans-serif;
}

/* CONTAINER PRINCIPAL */
.carrinho-cadastro {
  width: 600px;
  margin: 40px auto;
  padding: 40px;
  background: #ead7c5;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

/* TÍTULO */
.carrinho-cadastro h2 {
  text-align: center;
  color: #6b3f24;
  margin-bottom: 10px;
}

/* SUBTEXTO */
.subtitulo-carrinho {
  text-align: center;
  color: #9a735b;
  margin-bottom: 25px;
}

/* ITENS */
.item-carrinho {
  background: #f7eee8;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TEXTO ITEM */
.item-info strong {
  color: #6b3f24;
}

.item-info span {
  color: #9f6b43;
  font-weight: bold;
}

/* BOTÕES + - */
.controles-carrinho {
  display: flex;
  gap: 6px;
}

.controles-carrinho button {
  background: #c98a52;
  color: white;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 6px;
  cursor: pointer;
}

.excluir {
  background: #6b3f24;
}

/* TOTAL */
.total-carrinho {
  background: #f7eee8;
  padding: 15px;
  border-radius: 15px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

/* PAGAMENTO */
.pagamento-carrinho label {
  display: block;
  background: #f7eee8;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* INPUTS */
.box-pagamento input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  margin-bottom: 10px;
  background: #fff7f1;
}

/* BOTÃO FINAL */
.btn-finalizar {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  border: none;
  background: linear-gradient(90deg, #9f6b43, #c98a52);
  color: white;
  font-weight: bold;
  cursor: pointer;
}